@charset "UTF-8";
@import url("plugins/jquery.sidr.light.css");
@import url("colors.css");
/* 
 *	CSS Document 
 *	author 	: Christopher Allison
 *	email 	: callisonification@gmail.com
 *	date	: 3/12/14
 *	version	: 1.2
 */
 
/*
 *	
 *	Bootstrap IE 10+ reset
 *
 */
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

/*
 *
 *	Reset styles
 *
 */
 
textarea {
	resize: none;
}
.nostyle {
	background-color: transparent;
}
.norad {
	border-radius: 0 !important;
}
small {
	font-size: 80%;
}
body {
	position: relative;
	z-index: -2;
	background-color: #ffffff;
	background-image: url(http://www.transparenttextures.com/patterns/ag-square.png);
	overflow-x:hidden;
}
.alert {
	display:none;	
}
.content-bar, .news-feed {
	font-size:18px;	
}
.social-tab {
	font-size:16px;	
}
.translate {
	margin-top:70px;
	margin-bottom:-60px;	
}
#twitter-widget-0 {
	width:100% !important;	
}
/*
 *	Adjust global modal styles
 *
 */

.modal-header {
	-moz-border-radius:  5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px; 	
}
.sm-input {
	padding:0 15px 0 0;
}
#ind-quiz-modal .modal-body h1 {
	font-size:80px;	
}

/*
 *	Home Page styles
 *
 */
  
/*====== 
 * Social Tabs Styles 
 *======*/

.social-tab {
	position: fixed;
	top: 385px;
	right: -80px;
	overflow: hidden;
	z-index: -1;
}
.social-tab p {
	font-size: 1.286em;
	font-weight: bold;
	white-space: nowrap;
	display: block;
	letter-spacing: .2em;
	margin: 85px -49px 0 -49px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	/*ie hacks*/
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
	-ms-transform: rotate(-90deg);
}
.social-tab ul {
	list-style: none;
	margin-right: -10px;
	margin-top: 10px;
	padding: 10px 30px 0 30px;
}
.social-tab ul li {
	font-size: 2em;
	padding: 5px 0;
}
/*====== 
 * Header Styles 
 *======*/

.navbar-brand {
	font-weight: bold;
	font-size: 1.500em;
}
.brand-banner {
	height: 160px;
	padding-top: 90px;
}
.brand-banner h1 {
	font-size: 1.8em;
	margin-top: -10px;
}
.banner-contact {
	margin-top: -15px;
}
.banner-contact small {
	font-size: 0.750em;
}
.banner-contact h3 {
	margin: 0;
}
/*====== 
 * Navbar Styles 
 *======*/
.navbar-nav > li > .dropdown-menu {
	padding: 10px;
	width: 250px;
}
.navbar-nav > li > .dropdown-menu input {
	border-radius: 0;
}
.dropdown-menu {
	left: 0 !important;
}
.form-menu {
	left: -203px !important;
}
.dropdown-menu li a {
	color: #34495e !important;
	border: none;
}
#left-menu, #right-menu {
	display: block;
	padding: 10px;
	margin: 5px;
	font-size: 1em;
	color: #ecf0f1;
}
/*====== 
 * Carousel Styles 
 *======*/

.cta-billboard {
	position: relative;
}
.carousel .item {
	height:100%;	
}
.carousel .item img {
	max-height:504px;
	overflow:hidden;
	width:100%;
}
.inner.container {
	margin: 15px 0;
	padding: 0;
	padding-right: 4px;
}
.carousel-caption {
	bottom: 60px;
	color: #FFFFFF;
	left: 15%;
	padding-bottom: 20px;
	padding-top: 20px;
	position: absolute;
	right: 15%;
	text-align: left;
}
.carousel-caption h2 {
	font-size: 4em;
	line-height: 1.5em;
}
.carousel-caption p {
	font-size: 1.3em;
}
.carousel-caption a.btn {
	border: 2px solid #fff;
	padding: 10px;
	border-radius: 0;
	font-weight: bold;
	letter-spacing: .15em;
}
.carousel-indicators li {
	border-radius: 0;
}
.carousel-control .icon-prev, 
.carousel-control .icon-next, 
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right {
	left: 40%;
	right: 40%;
}
/*====== 
 * Subnav Styles 
 *======*/

.help-subnav {
	margin-top: 15px;
}
.help {
	overflow: hidden;
	max-height: 250px;
	padding: 0;
}
.help img {
	min-height: 250px;
	width: 100%;
}
.popup {
	opacity: .9;
}
.give-help {
	margin-top: 4px;
}
.help-inner-panel {
	height: 300px;
	margin-top: -80px;
	cursor: default;
}
.help-inner-panel h3 {
	color: white;
	padding: 15px 0 10px 0;
	margin-bottom: 0;
}
.help-inner-panel p {
	font-size: 1.2em;
	line-height: 1.75em;
	padding: 4px;
	margin-bottom: 10px;
	color:rgba(236, 240, 241,1.0);
}
.help-inner-panel a.btn {
	color: rgba(236, 240, 241,1.0);
	border: 2px solid #fff;
	background-color: transparent;
	padding: 10px;
	font-size: 1.2em;
	border-radius: 0;
}
/*====== 
 * Home aside Styles 
 *======*/
.article-footer a {
	font-weight:500;	
}
.home-sidebar {
	padding-right: 0;
	padding-left: 0;
}
.recovery-path,
.membership {
	padding: 25px 20px;
	line-height: 2em;
}
.recovery-path img,
.membership img {
	margin-top:-50px;
	margin-left:2px;	
}
.recovery-path h3,
.membership h3 {
	margin-top: 0;
	font-size: 2.143em;
}
.rp-link:hover,
.mbr-link:hover {
	text-decoration: none;
}
.membership {
	margin: 15px 0;
}
.comm-btns {
	padding: 0;
	overflow: hidden;
}
.iso {
	border: 2px solid white;
	background-color: #888;
}
.iso p:last-child {
	font-size:1em;
	font-weight:bold;	
}
.small-iso {
	float: left;
	margin-right:15px;
	border: 1px solid rgba(41, 128, 185,1.0);	
}
.small-iso p {
	font-size:0.9em;
	font-weight:bold;	
}
.iso .glyphicon {
	font-size:7.143em;
	color:rgba(236, 240, 241,1.0);
	text-shadow: 0 0 3px rgba(22, 160, 133,1.0);
}
/*====== 
 * Landing social Styles 
 *======*/
.movie-car {
	border-left: 2px solid white;
}
.facebook iframe {
	padding-left: 18px;
}
.twitter-timeline {
	padding-left: 2px;
}
.twitter iframe {
	max-height:410px;
}
/*====== 
 * Footer Styles 
 *======*/
.footer-bg {
	width: 100%;
	margin-top: 50px;
	padding: 20px 0;
	z-index: 100;
}
.page-footer {
	position: relative;
}
.page-footer h4 {
	font-style: normal;
	margin-bottom:15px;
}
.footer-info {
	list-style:none;
	margin:0;
	padding:0;	
}
.footer-info li {
	display:inline;
	color:rgba(236, 240, 241,1.0);
	margin-right:40px;
}
.footer-info2 {
	padding-left:20px;	
}
.footer-info2 li {
	display:block;
	color:rgba(236, 240, 241,1.0);
	margin-right:40px;
}
.footer-info2 li.pipe {
	margin-left:5px;	
}
.footer-info li .glyphicon,
.footer-info2 li .glyphicon {
	color:rgba(52, 73, 94,0.55);
}
.footer-form input, .footer-form textarea {
	border-radius: 0;
}
.footer-sig .signature span {
	font-size:13px;	
}
.page-footer .panel-heading h4 {
	color:rgba(41, 128, 185,0.8);	
}
.page-footer .panel-body ul {
	list-style: none;
	padding: 0;
}
.page-footer .panel-body ul li {
	border: 2px solid #ecf0f1;
	margin: 2px 0;
	padding: 10px;
}
.page-footer .panel-body ul li a {
	color:rgba(41, 128, 185,0.5);
	display: block;
}
.page-footer .soc-icons ul {
	list-style:none;
	overflow:hidden;
	padding:0;	
}
.page-footer .soc-icons ul li {
	display:inline;
	float:left;
	margin-right:30px;	
}
/*====== 
 * Our Mission Styles 
 *======*/
.mission {
	font-size: 1.125em;
}
.mission .lead {
	font-size: 1.25em;
	font-style: italic;
	line-height: 1.75em;
	font-weight:400;
}

/*
 *	Content page styles
 *
 */

/*====== 
 * Content Styles 
 *======*/
 
.content-bar {
	margin-top: 14px;
	padding: 0 10px;
}
.content-bar h3 {
	margin-top: 3px;
}
.feature-image img {
	max-height: 480px;
}
/*====== 
 * Navbar Aside Styles 
 *======*/
 
.nav-sidebar {
	padding-left:0;
	margin-top:21px;
}
.nav-sidebar aside ul li {
	font-size:1.143em;
}
.nav-sidebar aside ul li:first-child {
	margin-top:10px;
	margin-bottom:0;
}
.nav-sidebar aside ul li:last-child {
	margin-bottom:10px;
	margin-top:0;
}
/*====== 
 * Banner Space Styles 
 *======*/
 
.banner-space {
	margin-top:15px;
}

/*
 *	Programs/videos/toolkits row styles
 *
 */
 
 /*====== 
 * Program Page Styles 
 *======*/
 
.program {
	margin: 10px 0;
}
.programs p, .prog-content {
	/*max-height: 120px;*/
	overflow: hidden;
}
.prog-btn {
	margin: 10px 0;
}
.programs hr:last-child {
	display: none;
}

.pub-container {
	padding:0;	
}
.pub-container a {
	margin:5px 0;	
}