@charset "UTF-8";
/* 
	CSS Document 
	author 	: Christopher Allison
	email 	: callisonification@gmail.com
	date	: 3/12/14
	version	: 1.0
*/
/* Large desktops and laptops */
@media (min-width: 1200px) {

	.home-sidebar {
		padding-left:15px !important;
	}
	.navbar-collapse {
		padding:0;	
	}
	.footer-left {
		padding-left:0;	
	}
	.footer-right {
		padding-right:0;	
	}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	
	.navbar-collapse {
		padding:0;	
	}
	.home-sidebar {
		padding-left:15px !important;
	}
	.social-tab {
		visibility:hidden;	
	}
	.iso p:last-child {
		font-size:0.9em;
	}
	.help-inner-panel p {
		font-size: 1.1em;
		line-height: 1.5em;
	}
	.carousel .item img {
		height:700px !important;	
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	
	.navbar-collapse {
		padding:0;	
	}
	.social-tab {
		display:none;	
	}
	.give-help {
		margin-top:0;	
	}
	.brand-banner h1 {
		font-size:1.6em;	
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	
	.home-sidebar {
		padding-left:0;
	}
	.give-help {
		margin-top:15px;	
	}
	.sidr form {
		display:none;	
	}
	.help-inner-panel {
		margin-top: -36%;
		cursor: default;
	}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {

	.home-sidebar {
		padding-left:0;
	}
	.brand-banner .img-circle {
		display:none;	
	}
	.brand-banner h1 {
		margin-top:15px;	
	}
	.sidr form {
		display:none;	
	}
	.help-inner-panel {
		margin-top: -28%;
		cursor: default;
	}
}